.color-cards {
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
